---
title: Lucille Maybon
---
<div class="container">
  <div class="container2">
    <div class="card">

      <div class="front side">
        <h1 class="logo">Lucille Maybon</h1>
      </div>

      <div class="back side">
        <h3 class="name">Lucille Maybon</h3>
        <div>Consultante</div>
        <div class="info">
          <p><i class="fas fa-envelope"></i><span class="property"> Email: </span><a href="mailto:lucille.maybon.pro@gmail.com">lucille.maybon.pro@gmail.com</a></p>
          <p><i class="fas fa-phone"></i><span class="property"> Téléphone: </span><a href="tel:+33675783233">06 75 78 32 33</a></p>
          <p><i class="fab fa-linkedin-in"></i><span class="property"> Linkedin: </span><a href="https://www.linkedin.com/in/lucille-maybon-7055ba7a/" target="_blank">lucille-maybon</a></p>

        </div>
      </div>

    </div>
  </div>
</div>
