---
title: Lucille Maybon
---
<div class="container">
  <div class="container2">
    <div class="card">

      <div class="front side">
        <img src="images/lmlogo2.png" alt="">
      </div>

      <div class="back side">
        <h2 class="name">Lucille Maybon</h2>
        <div>Consultante</div>
        <div class="info">
          <p><i class="fas fa-at"></i><span class="property"> Email: </span><a href="mailto:lucille.maybon.pro@gmail.com">lucille.maybon.pro@gmail.com</a></p>
          <p><i class="fas fa-phone"></i><span class="property"> Téléphone: </span><a href="tel:+33675782233">06 75 78 22 33</a></p>
          <p><i class="fab fa-linkedin-in"></i><span class="property"> Linkedin: </span><a href="https://www.linkedin.com/in/lucille-maybon-7055ba7a/" target="_blank">lucille-maybon</a></p>

        </div>
      </div>

    </div>
  </div>
</div>
